html {
  scroll-behavior: smooth;
}

/* увеличение кнопок при наведении. */
header {
  a {
    transition: all 0.25s ease-in;
  }
.navigation-desctop {

  a:hover {
    margin: 0 1em 0;
    padding: 4px 10px;
    transform: scale(1.2);
    animation: animation_RGB 5s ease infinite;
    border: 1.5px solid #ffffff;
    font-weight: bold;
    border-radius: 20px;
    color: #ffffff;
  }
}
}

/* анимация для слова фронтенд */
#frontend_is {
  h3 {
    border-radius: 1em;
    padding: 0.1em 0.2em;
    transition: all 0.25s ease-in;
    animation: animation_RGB 5s ease infinite;
  }

  h3:hover {
    padding: 0 0.3em;
    font-size: 1.5em;
  }
}

/* радужная анимация  */
@keyframes animation_RGB {
  0% {
    background: none;
  }
  10% {
    background-color: #c21414;
    color: #ffffff;
  }
  30% {
    background-color: #cfc20d;
    color: #000;
  }
  50% {
    background-color: #3dc214;
    color: #000;
  }
  60% {
    background-color: #146ec2;
    color: #ffffff;
  }
  80% {
    background-color: #6e14c2;
    color: #ffffff;
  }
  100% {
    background-color: #c21497;
  }
}

/* зеленая анмация рамки */
@keyframes border_RGB {
  0% {
    border: 1px solid #000000;
  }
  70% {
    border: 1px solid #ffffff;
  }
  90% {
    border: 1px solid #1eff00;
  }
  100% {
    border: 1px solid #273a1b;
  }
}

@keyframes opticy {
  0% {opacity: 0%;}
  100% {opacity: 100%;}

}

/* добавление анимации рамок для направлений в фронтенде */
#direction {
  #article-1 {
    animation: border_RGB 5s ease infinite;
  }

  #article-2 {
    animation: border_RGB 5.1s ease infinite;
  }

  #article-3 {
    animation: border_RGB 5.2s ease infinite;
  }
  #article-4 {
    animation: border_RGB 5.3s ease infinite;
  }
  /* анимация при наведении  */
  p {
    transition: all 0.25s ease-in;
  }
  p:hover {
    margin: 1em;
    padding: 0.1em 0.5em;
    transform: scale(1.1);
  }
}

.testimonials .btn:hover {
  background-color: #ffffff;
  cursor: pointer;
  transform: scale(1.2);
  font-size: x-large;
}

/* адаптация под разные экраны */
@media (min-width: 431px) {
  .navigation-mobail {
    display: none;
  }
}

@media (max-width: 430px) {
  .navigation-desctop {
    display: none;
  }

  .navigation-mobail {
    button{
      div {
        display: none;
      }
    }
    button:focus {
      opacity: 100%;
      div {
        display: block;
        animation: opticy 1s ease-out 1;
      }
      
    }
    a:hover {
      background-color: #6ec201;
      color: #000;
    }
  }
  #img_header {
    margin: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: end;

    img {
      max-width: 100%;
      height: auto;
    }

    #chtotividish {
      width: auto;
      margin: 0;
    }

    #v_internete {
      margin: 0;
      width: auto;
    }
  }

  #frontend_is {
    border: 1px solid #c0c2cc;
    border-radius: 2em;
    padding: 1em;
    margin: 4em 1em 1em;

    h3,
    p {
      font-size: 80%;
      display: inline;
    }

    h3:hover {
      padding: 0 0.3em;
      font-size: 100%;
    }
  }
  .direction {
    font-size: large;
  }
  .container-direction {
    background-color: #3a3d42;
    border-radius: 1rem;
    padding: 0;

    #direction {
      grid-template-columns: repeat(4, 60%);
      margin: 0;
    }

    .scroller-direction {
      padding: 1em;
      display: flex;
      overflow: hidden;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }

    article {
      font-size: 80%;
      scroll-snap-align: center;
    }
  }

  .eyes {
    scale: 0.5;
    margin: 0 0 5em;
  }

  #where_to_work {
    font-size: large;
  }
  .where_to_work {
    .where_to_work-p {
      margin: -1em 0 1.5em;
      font-size: 70%;
    }
  }

  .testimonials {
    font-size: 80%;
    min-width: 100%;
  }

  .personality-container {
    font-size: 50%;
    grid-template-columns:  1fr;
    grid-template-rows: auto;
  }
}
