body {
  color: #f7f4f4;
  background: #1d1c1c;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin: 1em;
  padding: 0;
}

h3,
h2 {
  text-transform: uppercase;
}

/* навигационная панель */
header {
  .navigation-desctop {
    margin: 0 0 4em;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 1%;
      box-sizing: border-box;

      display: grid;
      grid-template-columns: repeat(5, auto);
      justify-content: center;

      background: #000000c2;
      border: 1px solid #c0c2cc;
      border-radius: 0 0 5em 5em;
    }
    li {
      padding: 5px;
      display: grid;
      a {
        border: 1.5px solid #6e6e6e /*..кто правит того и травят бебебе*/;
        border-radius: 5px;
        color: #c0c2cc;
        text-decoration: none;
        cursor: pointer;
        padding: 2px;
      }
    }
    ul {
      position: fixed;
      top: 0;
      width: 100%;
    }
  }

  .navigation-mobail {
    z-index: 1;
  
    button {
      width: 60px;
      height: 40px;
      color: #66ff00;
      
      font-family: "Courier New", Courier, monospace;
      font-weight: bolder;

      background-color: #000000;
      border-radius: 2.5rem 1rem 0 0;
      opacity: 80%;

      position: fixed;
    bottom: 0;
    left: 1;
    right: 0;
    }
   div { 
    position: absolute;
    bottom: 0;
    left: 1;
    right: 0;
   }

    ul {
      list-style-type: none;

      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr;
      justify-content: end;
    
    }

    li {
      display: grid;
    }
    a {
      padding: 10px;
      background-color: #000;
      white-space: nowrap ;
      text-align: right;
      text-decoration: none;
      color: #ffffff;
      font-family: 'Arial Narrow Bold', sans-serif;
    }
  }

}

/* картинки под навигацией / типо заголовок */
#img_header {
  display: grid;
  grid-template-columns: 1.4fr 0.7fr 1fr;
  grid-template-rows: 1fr;
  align-items: end;

  img {
    max-width: 100%;
    height: auto;
  }

  #eto_vso {
    margin: 0 0 1em;
  }
  #chtotividish {
    margin: 0 0 0.5em;
  }

  #v_internete {
    margin: 0 0 0 5em;
    width: 60%;
  }
}


/* определение фронтенд в виде лока */
#frontend_is {
  border: 1.5px solid #c0c2cc;
  border-radius: 2em;
  padding: 1em;
  margin: 1em;
  h3, p {
    display: inline;
  }
}

/* блок направление фронтенд */
.direction {
  margin: 1em 0 0.5em;
}
#direction {
  margin: 0 1em 1em;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1em;

  text-align: center;
  article {
    border-radius: 3em;
    padding: 0.5em;
    border: 1px solid #000000;
  }
}

/* блок с тем, где работают фронтенд разрабы */
.where_to_work {
  p {
        font-family: 'Arial Narrow', Arial, sans-serif;
color: #b2b3b8
  }
  h3 {
    color: #59ee03;
    font-style: italic;
    margin: auto;
    margin-top: 0.5em;
  }
  article {
    color: #f7f4f4;
    border-radius: 5em;
    border: 2px solid #9d9ea7;
    padding: 0 1em 0;
    line-height: 1em;
  }

  /* testimonials отвечает за кнопки скролла */
  .testimonials {
    max-width: 90%;
    margin: auto;
    position: relative;
  }

  .testimonials .btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 90%;

    color: #000;
    background-color: #9d9ea7;
    border-radius: 5rem;
    line-height: 40px;
    text-align: center;
    font-weight: bold;

    transition: all 0.3s ease-out;
    user-select: none;
  }

  .testimonials .btn.next {
    border-radius: 0 5rem 5rem 0;
    left: 50%;
  }
  .testimonials .btn.prev {
    border-radius: 5rem 0 0 5rem;
    right: 50.5%;
  }
  /* блоки с текстом о рабте  */
  .scroller {
    padding: 1.5rem;
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
  }
  .block {
    min-width: 100%;
    min-height: 100px;
    margin: 0.5em;

    scroll-snap-align: center;
  }


}

/* Личностные качества  */
.personality {
 margin: -1.3em 0 0;
 
 .personality-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
  }
  article {
  word-break: break-all;
  padding: 2em;
  text-align: left;
  padding: 1em;
  border: 1px solid #9d9ea7;
  
}
  

h4, p {
  display: inline;
}
p, strong {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #bcbdc4;
}
h4{
font-size: larger;
}
}