body {
  color: #f7f4f4;
  background: #1d1c1c;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin: 1em;
  padding: 0;
}

h3,
h2 {
  text-transform: uppercase;
}

/* навигационная панель */
header {
  .navigation-desktop {
    margin: 0 0 4em;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 1%;
      box-sizing: border-box;

      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      background: #000000c2;
      border: 1px solid #c0c2cc;
      border-radius: 0 0 5em 5em;
    }
    li {
      padding: 5px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      a {
        border: 1.5px solid #6e6e6e;
        border-radius: 5px;
        color: #c0c2cc;
        text-decoration: none;
        cursor: pointer;
        padding: 2px;
      }
    }
    ul {
      position: fixed;
      top: 0;
      width: 100%;
    }
  }

  .navigation-mobile {
    z-index: 1;
  
    button {
      width: 60px;
      height: 40px;
      color: #66ff00;
      
      font-family: "Courier New", Courier, monospace;
      font-weight: bolder;

      background-color: #000000;
      border-radius: 2.5rem 1rem 0 0;
      opacity: 80%;

      position: fixed;
      bottom: 0;
      left: 1;
      right: 0;
    }
    div { 
      position: absolute;
      bottom: 0;
      left: 1;
      right: 0;
    }

    ul {
      list-style-type: none;
      box-sizing: border-box;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: end;
      -moz-box-pack: end;
      -ms-flex-pack: end;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
    }

    li {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }
    a {
      padding: 10px;
      background-color: #000;
      white-space: nowrap;
      text-align: right;
      text-decoration: none;
      color: #ffffff;
      font-family: 'Arial Narrow Bold', sans-serif;
    }
  }
}

/* картинки под навигацией / типо заголовок */
#img_header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  img {
    max-width: 100%;
    height: auto;
  }

  #eto_vso {
    margin: 0 0 1em;
  }
  #chtotividish {
    margin: 0 0 0.5em;
  }

  #v_internete {
    margin: 0 0 0 5em;
    width: 60%;
  }
}

/* определение фронтенд в виде лока */
#frontend_is {
  border: 1.5px solid #c0c2cc;
  border-radius: 2em;
  padding: 1em;
  margin: 1em;
  h3, p {
    display: inline;
  }
}

/* блок направление фронтенд */
.direction {
  margin: 1em 0 0.5em;
}
#direction {
  margin: 0 1em 1em;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 1em;

  text-align: center;
  article {
    border-radius: 3em;
    padding: 0.5em;
    border: 1px solid #000000;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 200px;
    -moz-flex: 1 1 200px;
    -ms-flex: 1 1 200px;
    flex: 1 1 200px;
    max-width: 300px;
  }
}

/* блок с тем, где работают фронтенд разрабы */
.where_to_work {
  p {
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: #b2b3b8;
  }
  h3 {
    color: #59ee03;
    font-style: italic;
    margin: auto;
    margin-top: 0.5em;
  }
  article {
    color: #f7f4f4;
    border-radius: 5em;
    border: 2px solid #9d9ea7;
    padding: 0 1em 0;
    line-height: 1em;
  }

  /* testimonials отвечает за кнопки скролла */
  .testimonials {
    max-width: 90%;
    margin: auto;
    position: relative;
  }

  .testimonials .btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 90%;

    color: #000;
    background-color: #9d9ea7;
    border-radius: 5rem;
    line-height: 40px;
    text-align: center;
    font-weight: bold;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .testimonials .btn.next {
    border-radius: 0 5rem 5rem 0;
    left: 50%;
  }
  .testimonials .btn.prev {
    border-radius: 5rem 0 0 5rem;
    right: 50.5%;
  }

  /* блоки с текстом о работе */
  .scroller {
    padding: 1.5rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    -webkit-scroll-snap-type: x mandatory;
    -moz-scroll-snap-type: x mandatory;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
  }
  .block {
    min-width: 100%;
    min-height: 100px;
    margin: 0.5em;
    -webkit-scroll-snap-align: center;
    -moz-scroll-snap-align: center;
    -ms-scroll-snap-align: center;
    scroll-snap-align: center;
  }
}

/* Личностные качества */
.personality {
  margin: -1.3em 0 0;
  
  .personality-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 10px;
  }
  article {
    word-break: break-all;
    padding: 1em;
    text-align: left;
    border: 1px solid #9d9ea7;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 300px;
    -moz-flex: 1 1 300px;
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;
    max-width: 400px;
  }

  h4, p {
    display: inline;
  }
  p, strong {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #bcbdc4;
  }
  h4 {
    font-size: larger;
  }
    }
